
body {
	animation: gradient 8s ease infinite;
	background: linear-gradient(-45deg, #f8aa86, #fab04e, #fcf9fa,  #ac6a51);
	background-size: 400% 400%;
	-webkit-animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.card_dashboard{
    background-color: #df5f2d;
    background-image: url("/assets/background-dashboard.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
	border: 1px solid #df5f2d;
    border-radius: 0.6rem;
	box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.51);
    height: 450px;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.card_dashboard .container-dash_btns{
	margin: 1rem;
	max-width: calc(50% - 10px);
	min-height: calc(80% - 20px);
}

.card_dashboard .container-dash_btns .btn_dash{
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	color: #fff;
}

.btn_search {
    background-color: #ff8000; 
    border-color: #ff8000;
}

.btn_search:hover{ 
    background-color: #EE7800; 
    border-color: #EE7800;
}

.btn_search img{
    width: 20px;
    height: 20px;
}

.btn_user{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ------PokemonCard------------- */

.card_pokemon-list{
    /* background-color: #FFA559; */
    border-radius: 0.6rem;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.45);
    max-height: 400px;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.card_pokemon-list--img img{
    height: 160px;
    width: 160px;
}

.img-filter{
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));
    z-index: 10;
    -webkit-filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.5));
}

.card_pokemon-list--info{
    background-color: #fecb8b;
    border-radius: 0.6rem;
    color: #786551;
    padding-inline: 5px;
    text-decoration: none;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.card_pokemon-list--text_name{ 
    color: #454545;
    font-size: 24px; 
}

.free-space{ flex: 1 1 auto; }

.card_pokemon-list--text_id{
    color: #454545;
    font-size: 18px;
    margin-right: 5px;
    text-decoration:none !important;
}

.card_pokemon-list--text_name:hover,
.card_pokemon-list--text_id:hover {
    color: #454545; 
}

.pointer{
    cursor: pointer;
}

.icon_heart--active{    
    color: red;
    font-variation-settings:'FILL' 1, 'wght' 400, 'GRAD' 0,'opsz' 48;
}

.icon_heart--no_active{
    color: #000;
    font-variation-settings:'FILL' 0, 'wght' 400, 'GRAD' 0,'opsz' 48;
}

.link-card{ text-decoration: none; }

/* ------------------------------ */

/* -------PAGINATION------------- */

.margina{ margin-top: 4rem; }

.margina ul > li > a{
    background-color: #454545;
    color: #fff;
}

.margina ul > li > a:hover{
    color: #000;
    cursor: pointer;
}

.btn-link_pag{ color: #454545; }

.btn-link_pag:hover{ color: #fff }


.btn-link_pag.active-btn{ color: #fff; }

.btn-size{ min-width: 43.25px; }
/* ------------------------------ */


/* -------Detail card------------- */

.detail_card{
    background-color: #ccc;
    max-width: calc(100% - 300px);
    margin-inline: auto;
    box-shadow:30px 25px 15px -8px rgba(0,0,0,0.3);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.pkm_img{
    border: 2px solid #000;
    border-radius: 50%;
    margin-bottom: 10px;
    width: 12rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pkm_img img{
    border-radius: 50%;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.types{
    color: red;
    border: 2px dashed red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.pkm_info{ color: #454545; }

.btn-back{
    border-color: #ff8000;
    background-color: #ff8000;
    color: #fff;
}

.btn-back:hover{
    border-color: #EE7800;
    background-color: #EE7800;
    color: #fff;
}

/* ------------------------------ */

/* -------loader----------------- */

.container_loader{ min-height: 370px; }

.loader img{ width: 120px; }

.loader-ani{
    animation: 2s loader alternate infinite;
    -webkit-animation: 2s loader alternate infinite;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

/* ------------------------------ */

/* -------Not Found----------------- */

.notFound_container{ min-height: 35rem; }

.notFound_title h1{
    font-size: 5rem;
    font-weight: bold;
}

.notFound_codeNumber{ font-size: 8.5rem; }

.t-stroke {
      color: transparent;
      -moz-text-stroke-width: 2px;
      -webkit-text-stroke-width: 2px;
      -moz-text-stroke-color: #000000;
      -webkit-text-stroke-color: #da5151;
}

.t-shadow { text-shadow: 5px 5px #F28438; }
    

/* ------------------------------ */

/* -------Auth Layout----------------- */
 
.auth_container{
    max-width: 50%;
    background-image: url('/assets/background-auth.jpg');
    opacity: 85%;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.row-form{ min-height: 140px; }

.row-form-passwords{ min-height: 194px; }

.google-icon{
    width: 20px;
    height: auto;
}

.drop-item{
    cursor: pointer;
}

.drop-item:hover{
    color: #fff;
    background-color: #EE7800;
}

.free-space{ flex: 1 1 auto;}